<section
  class="bg-secondary pv4 ph4-ns ph3 nb4"
  id="{{ section_headline | slugify }}"
>
  <div class="tc mb5 pb4">
    <h1 class="mw7 center">{{ section_headline }}</h1>
  </div>

  <div class="flex flex-wrap justify-between mw9 center">
    {{ collection:insights limit="3" }}
    <div class="flex mh3-ns mb4 mb0-l w-30-l">
      <a
        class="pv3 no-underline article-btn db w-100 relative c-black bg-white ba bc-secondary-2 bw2 ph4 pv5"
        href="{{ url }}"
      >
        <div class="article-featured-img mb4">
          {{ partial src="sets/image" }}
        </div>

        <h2 class="mb2 w-80-l">{{ title }}</h2>
        <p class="mb4 w-80-l">{{ excerpt }}</p>

        <button class="br-pill inline-flex items-center btn btn-primary">
          Learn more

          <span class="pl3 relative" style="top: -2px">
            {{ svg src="assets/site/svg/button-arrow" }}
          </span>
        </button>
      </a>
    </div>
    {{ /collection:insights }}
  </div>
</section>

<section class="{{ partial src='styles/bg_and_text_color' }} pt7 nt6 pb6">
  <div class="mw9 center flex-ns justify-between items-center ph4">
    <div class="w-40-ns mb4 mb0-ns flex justify-center">
      {{ partial src="sets/image" }}
    </div>

    <div class="w-60-ns ph4-ns">
      <div class="mw7">
        {{ content }} {{ partial src="sets/{type}" }} {{ /content }}
      </div>
    </div>
  </div>
</section>
