<section
  class="pv4 ph4 ph5-ns {{ if background_color }}bg-{{ background_color.label | lower }}{{ /if }} {{ if text_color }}c-{{ text_color.label | lower }}{{ /if }}   {{ if gradient_background == 'gold'}}bg-gold-gradient{{ /if }} {{ if
  gradient_background == 'rust'}}bg-rust-gradient{{ /if }} {{ if
  gradient_background == 'pink'}}bg-pink-gradient{{ /if }} {{ if
  gradient_background == 'green'}}bg-green-gradient{{ /if }}"
>
  <div
    class="mw9 center flex-l flex-wrap justify-between {{ if column_vertical_alignment }}{{ if column_vertical_alignment == 'middle' }}items-center{{ /if}}{{ if column_vertical_alignment == 'bottom' }}items-end{{ /if}}{{ /if}}"
  >
    <div
      class="w-50-l mw7-l center content mb5 {{ if swap_order_of_columns }}order-1-ns{{ /if }}"
    >
      {{ left_column }} {{ partial src="sets/{type}" }} {{ /left_column }}
    </div>
    {{ right_column limit="1" }}
    <div
      class="w-50-l mw7-l pl5-l center content {{ if swap_order_of_columns }}order-0-ns{{ /if }}"
      style="background-image: ur({{ image }})"
    >
      {{ responsive:image alt="{caption || alt}" loading="lazy" class="{{ if
      include_shadow }}shadow-1{{ /if }}" }}
    </div>
    {{ /right_column }}
  </div>
</section>
