<section
  class="pv6-l pv4 ph5-l ph4-m ph3 {{ if background_color }}bg-{{ background_color.label | lower }}{{ /if }} {{ if text_color }}c-{{ text_color.label | lower }}{{ /if }}"
>
  {{ partial:section_headline }}
  <div
    class="mw9 center flex-ns flex-wrap justify-between {{ if column_vertical_alignment }}{{ if column_vertical_alignment == 'middle' }}items-center{{ /if}}{{ if column_vertical_alignment == 'bottom' }}items-end{{ /if}}{{ /if}}"
  >
    {{ team_members }}
    <div class="w-30-l w-50-m w-100 mb6-ns mb5">
      <div class="ph3-m">
        {{ if url }}
        <a class="c-black no-underline" href="{{ url }}">
          {{ /if }}

          <div class="mb4">
            {{ responsive:photo alt="{caption || alt}" loading="lazy"
            class="w-100" }}
          </div>
          <h3 class="mb0 lh-title">{{ name }}</h3>
          <p class="f5 mb0 lh-title f-alt c-gray-4">{{ title_or_role }}</p>
          <p class="mt3 mb0 mw6">{{ description }}</p>
          {{ if url }}
        </a>
        {{ /if }}
      </div>
    </div>
    {{ /team_members }}
  </div>
</section>
