<!-- Begin Infusionsoft Form -->
<div id="mc_embed_signup">
  <form
    accept-charset="UTF-8" 
    action="/subscribe"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="validate relative mw6 center-m"
    method="get"
  >
    <input name="inf_form_xid" type="hidden" value="6fbef3b4a327a8585ee129e815e6a282" />
    <input name="inf_form_name" type="hidden" value="Email Subscribe" />
    <input name="infusionsoft_version" type="hidden" value="1.70.0.407468" />

    <div id="mc_embed_signup_scroll" class="relative">
      <label for="inf_field_Email" class="db w-100 mb0">
        <span class="clip">Subscribe</span>
        <input
          id="inf_field_Email"
          name="inf_field_Email"
          type="email"
          required
          placeholder="Enter email"
          class="w-100 f-main mb0 input-secondary"
        />
      </label>

      <button
        type="submit"
        value="Subscribe"
        name="subscribe"
        id="mc-embedded-subscribe"
        class="dim absolute top-0 bottom-0 right-0 mr3"
      >
        {{ svg src="assets/site/svg/submit" }}
      </button>

    </div>
  </form>
</div>
<!--End mc_embed_signup-->
