/**
 * Generics
 */
@import 'generic/normalize';
@import 'generic/reset';

/**
 * Modules
 */
@import 'modules/animations';
@import 'modules/aspect_ratios';
@import 'modules/background-size';
@import 'modules/border-radius';
@import 'modules/border-styles';
@import 'modules/border-widths';
@import 'modules/border-colors';
@import 'modules/borders';
@import 'modules/box-sizing';
@import 'modules/box-sizing';
@import 'modules/clear';
@import 'modules/code';
@import 'modules/coordinates';
@import 'modules/colors';
@import 'modules/display';
@import 'modules/flexbox';
@import 'modules/floats';
@import 'modules/font-family';
@import 'modules/font-style';
@import 'modules/font-weight';
@import 'modules/forms';
@import 'modules/height';
@import 'modules/hovers';
@import 'modules/images';
@import 'modules/letter-spacing';
@import 'modules/line-height';
@import 'modules/link';
@import 'modules/list';
@import 'modules/max-widths';
@import 'modules/media-queries';
@import 'modules/negative-margins';
@import 'modules/nested';
@import 'modules/opacity';
@import 'modules/outlines';
@import 'modules/overflow';
@import 'modules/position';
@import 'modules/rotations';
@import 'modules/skins';
@import 'modules/styles';
@import 'modules/tables';
@import 'modules/text-align';
@import 'modules/text-decoration';
@import 'modules/text-transform';
@import 'modules/utilities';
@import 'modules/vertical-align';
@import 'modules/visibility';
@import 'modules/white-space';
@import 'modules/widths';
@import 'modules/word-break';
@import 'modules/z-index';

/** Design System: Theme **/
@import 'theme/skins';
@import 'theme/spacing';
@import 'theme/type-scale';
@import 'theme/typefaces';

@import 'theme/accordions';
@import 'theme/btn';
@import 'theme/box_shadows';
@import 'theme/buttons';
@import 'theme/forms';
@import 'theme/list';
@import 'theme/navigation';
@import 'theme/nested_content';

.logo {
  max-width: 180px;
}
a.logo {
  text-decoration: none !important;
}

@media (--breakpoint-large) {
  .logo {
    max-width: inherit;
  }
}
